header h2{
    text-align: center;
    font-size: 40px;
    color:rgba(55, 43, 86, 0.963);
    background-color: rgb(114, 150, 249);
    flex-wrap: wrap;
    font-style:italic ;
    padding: 20px;
    margin-top: 0%;
}
header img{
      width:50px;
     }

    body {
        background-color:rgb(147, 238, 236) ;
        
    }

    .image-container {
        display: grid;
        grid-gap: 50px; 
        justify-content: center; 
        align-items: center;
        margin-top: 20px;
        grid-template-columns:1fr 1fr 1fr ;
    }

    .image-box {
        display: grid;
        height: auto;
        border-radius:3px;
        align-items: center;
        background-color:rgb(152, 188, 224);
         justify-content:center;
          margin: 10px;
         }

    .image-box img {
        width: 200px;
        height: auto;
        border-radius: 8px;
        box-shadow: none;
        padding: 20px;
        
        
    }

    .image-box p {
        margin: 10px 0 0; /* Add space between image and text */
        font-size: 18px;
        color: black;
        font-family:serif;
    }
.video-container {
display: flex; /* Use flexbox for centering */
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
margin: 20px auto; /* Center the container itself and add spacing */
width: 30%; /* Adjust the width */
border: 2px solid #ccc;
border-radius: 10px;
overflow: hidden; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


   #myVideo {
width: 100%; 
height: auto; 
}

    .audio {
display: flex;
flex-direction: column; /* Stack items vertically */
justify-content: center;
align-items: center;
margin-top: 20px;
border-color:red;
border-radius:20px;
}

.audio p {
margin: 0 0 10px; /* Add space below the text */
text-align: center;
font-family: cursive;
font-size: 20px;
color: red;
}

   
    .link{
        text-align: left;
        font-size: 15px;
        color: white;
    }
    nav a{
        color:aliceblue
    }
    #icon-contact{
        font-size: 20px;
    }
    
.search-bar {
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
gap: 10px; /* Space between input and button */
}

.search-bar input {
width: 300px;
padding: 8px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
outline: none;
}

.search-bar input:focus {
border-color: #1b6dd2; /* Highlight color when focused */
box-shadow: 0 0 5px rgba(27, 109, 210, 0.5);
}

.search-bar button {
padding: 8px 16px;
font-size: 16px;
background-color: #1b6dd2;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

.search-bar button:hover {
background-color: #1358a5;
}

